<footer class="center">
  <div class="measure">
    <hr class="style-appgrade">
    <small>
    Feedback / Corrections / Questions ?<br/>
    Open an <a href="{{ site.githubLinks.issue }}" target="_blank">issue <span class="octicon octicon-issue-opened"></span></a> 
    or
    submit a <a href="{{ site.githubLinks.pr }}" target="_blank">pull request <span class="octicon octicon-git-pull-request"></span> </a> on <a href="{{ site.githubLinks.repo }}" target="_blank">GitHub</a>.<br/>
    &copy; {{ site.time | date: '%Y' }} {{ site.author }} | <a href="/privacy/">Datenschutz</a>
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
