
.grow { 
		-o-transition: color .2s ease-out, background .2s ease-in;
 	 	-ms-transition: color .2s ease-out, background .2s ease-in;
	  	-moz-transition: color .2s ease-out, background .2s ease-in;
	  	-webkit-transition: color .2s ease-out, background .2s ease-in;
	  	transition: color .2s ease-out, background .2s ease-in;

		&:hover {
			-webkit-transform: scale(1.4);
			transform: scale(1.4); 
		}
}

hr.style-appgrade {
  border: 0;
  height: 1px;
  background: $blue;
  opacity: 0.5;
  background-image: -webkit-linear-gradient(left, $blue, $blue, $green);
  background-image: -moz-linear-gradient(left, $blue, $blue, $green);
  background-image: -ms-linear-gradient(left, $blue, $blue, $green);
  background-image: -o-linear-gradient(left, $blue, $blue, $green);
}

hr.style-share {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

a.svg {
	position: relative;
	display: inline-block; 
	
	&:hover {
 		opacity: 1.0;
	}
}

a.svg:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}
